In [1]:
import boto3
from boto3.s3.transfer import S3Transfer
import os
import import_ipynb
# from pdf2Image import convert_pdf
# from create_bucket import create_bucket,upload_file_s3,textract_job

In [2]:
!pip install pdf2Image

Requirement already satisfied: pdf2Image in c:\users\lenovo\anaconda3\lib\site-packages (1.16.0)
Requirement already satisfied: pillow in c:\users\lenovo\anaconda3\lib\site-packages (from pdf2Image) (7.2.0)

## Converting pdf2Images
The below function heps in converting pdf's to Images

In [3]:
from pdf2image import convert_from_path
import os

In [4]:
# Run this command -- ?
conda install -c conda-forge poppler

SyntaxError: invalid syntax (<ipython-input-4-781bfa385e5e>, line 2)

In [ ]:
import os
print(os.getcwd())

In [32]:
# root directory
#conversion
def convert_pdf_Img(root_dir, save_dir, res=400):
    
    for pdf_path in os.listdir(root_dir):
        path = (root_dir +'\\' + pdf_path)
        pages = convert_from_path(path,res)

        name_with_extension = pdf_path.rsplit('/')[-1]
        name = name_with_extension.rsplit('.')[0]

        out_path = os.path.join(save_dir,name)
        os.makedirs(out_path)

        for idx,page in enumerate(pages):
            page.save(f'{out_path}/{name}_{idx}.png','PNG')

## Starting the Textract Job

In [78]:
# decision making whether to go for key-value or the table output
def textract_job(data_dir):
    s3_client = boto3.client('s3')
    tess = boto3.client('textract', region_name='ap-south-1')
    bucket = 'arthashastra-1'
    print(1)
    print("MAKE CHOICE FOR THE INPUT:")
    print("=============================")
    print("KV == KEY_VALUE PAIR \nTABLE == TABLE OUTPUT")
    
    inpt = input('enter the input : ')
    
    if inpt == 'KV':
        output_file = os.path.join(data_dir,'Output_KV.csv')
        path = os.path.join(data_dir,'Test_Inv')
        print(path)
        with open(output_file, "wt") as fout:
            files = os.listdir(path)
            for file in files:
                fle = os.listdir(os.path.join(path,file))
                for f in fle:
                    file_name = os.path.join(path,file,f)
                    print(f)
                    main_KV(file_name,fout)
                    
    elif inpt=="TABLE":
        output_file = os.path.join(data_dir,'Output.csv')
        path = os.path.join(data_dir,'Test_Inv')
        with open(output_file, "wt") as fout:
            files = os.listdir(path)
            for file in files:
                fle = os.listdir(os.path.join(path,file))
                for f in fle:
                    file_name = os.path.join(path,file,f)
                    print(f)
                    main(file_name,fout)
    else:
        print("****=============================****")
        print("please chooce the right option")
        textract_job(data_dir)

## Table Function

In [79]:
import webbrowser, os
import json
import boto3
import io
from io import BytesIO
import sys
from pprint import pprint

In [97]:
def get_rows_columns_map(table_result, blocks_map):
    rows = {}
    for relationship in table_result['Relationships']:
        if relationship['Type'] == 'CHILD':
            for child_id in relationship['Ids']:
                cell = blocks_map[child_id]
                if cell['BlockType'] == 'CELL':
                    row_index = cell['RowIndex']
                    col_index = cell['ColumnIndex']
                    if row_index not in rows:
                        # create new row
                        rows[row_index] = {}

                    # get the text value
                    rows[row_index][col_index] = get_text(cell, blocks_map)
    return rows

def get_text(result, blocks_map):
    text = ''
    if 'Relationships' in result:
        for relationship in result['Relationships']:
            if relationship['Type'] == 'CHILD':
                for child_id in relationship['Ids']:
                    word = blocks_map[child_id]
                    if word['BlockType'] == 'WORD':
                        text += word['Text'] + ' '
                    if word['BlockType'] == 'SELECTION_ELEMENT':
                        if word['SelectionStatus'] == 'SELECTED':
                            text += 'X '
    return text

def get_table_csv_results(file_name):
    with open(file_name, 'rb') as file:
        img_test = file.read()
        bytes_test = bytearray(img_test)
        print('Image loaded', file_name)

    # process using image bytes
    # get the results
    client = boto3.client('textract')

    response = client.analyze_document(Document={'Bytes': bytes_test}, FeatureTypes=['TABLES'])

    # Get the text blocks
    blocks = response['Blocks']


    blocks_map = {}
    table_blocks = []
    for block in blocks:
        blocks_map[block['Id']] = block
        if block['BlockType'] == "TABLE":
            table_blocks.append(block)

    if len(table_blocks) <= 0:
        return "<b> NO Table FOUND </b>"

    csv = ''
    for index, table in enumerate(table_blocks):
        csv += generate_table_csv(file_name, table, blocks_map, index + 1)
        csv += '\n\n'

    return csv


def generate_table_csv(file_name, table_result, blocks_map, table_index):
    rows = get_rows_columns_map(table_result, blocks_map)
    
    page_name = file_name.split('\\')[-1]
    table_id = 'Table_' + str(table_index) +'\\'+ page_name
    print(table_id)
    # get cells.
    csv = 'Table: {0}\n\n'.format(table_id)
    

    for row_index, cols in rows.items():

        for col_index, text in cols.items():
            csv += '{}'.format(text) + ","
        csv += '\n'

    csv += '\n\n\n'
    return csv

def main(file_name,fout):
    table_csv = get_table_csv_results(file_name)

    #output_file = 'C:/Users/lenovo/PycharmProjects/aws-textract1/Output.csv'

    # replace content
    #fout.write(file_name)
    fout.write(table_csv)

    # show the results
    #print('CSV OUTPUT FILE: ', output_file)

In [118]:
csv = 'Table: {0}\n\n' \n'k'
csv

SyntaxError: unexpected character after line continuation character (<ipython-input-118-6c0c2b830925>, line 1)

## Key-Value pair Function

In [98]:
import boto3
import sys
import re
import json

In [99]:
def get_kv_map(file_name):

    with open(file_name, 'rb') as file:
        img_test = file.read()
        bytes_test = bytearray(img_test)
        print('Image loaded', file_name)

    # process using image bytes
    client = boto3.client('textract')
    response = client.analyze_document(Document={'Bytes': bytes_test}, FeatureTypes=['FORMS'])

    # Get the text blocks
    blocks=response['Blocks']
    

    # get key and value maps
    key_map = {}
    value_map = {}
    block_map = {}
    for block in blocks:
        block_id = block['Id']
        block_map[block_id] = block
        if block['BlockType'] == "KEY_VALUE_SET":
            if 'KEY' in block['EntityTypes']:
                key_map[block_id] = block
            else:
                value_map[block_id] = block

    return key_map, value_map, block_map


def get_kv_relationship(key_map, value_map, block_map):
    kvs = {}
    for block_id, key_block in key_map.items():
        value_block = find_value_block(key_block, value_map)
        key = get_text(key_block, block_map)
        val = get_text(value_block, block_map)
        kvs[key] = val
    return kvs

def find_value_block(key_block, value_map):
    for relationship in key_block['Relationships']:
        if relationship['Type'] == 'VALUE':
            for value_id in relationship['Ids']:
                value_block = value_map[value_id]
    return value_block


def get_text(result, blocks_map):
    text = ''
    if 'Relationships' in result:
        for relationship in result['Relationships']:
            if relationship['Type'] == 'CHILD':
                for child_id in relationship['Ids']:
                    word = blocks_map[child_id]
                    if word['BlockType'] == 'WORD':
                        text += word['Text'] + ' '
                    if word['BlockType'] == 'SELECTION_ELEMENT':
                        if word['SelectionStatus'] == 'SELECTED':
                            text += 'X '    

                                
    return text

def print_kvs(kvs):
    for key, value in kvs.items():
        print(key, ":", value)


def search_value(kvs, search_key):
    for key, value in kvs.items():
        if re.search(search_key, key, re.IGNORECASE):
            return value

def main_KV(file_name,fout):

    key_map, value_map, block_map = get_kv_map(file_name)

    # Get Key Value relationship
    kvs = get_kv_relationship(key_map, value_map, block_map)
    print("\n\n== FOUND KEY : VALUE pairs ===\n")
    fout.write(str(kvs))
    #print_kvs(kvs)

    # Start searching a key value
    ''' while input('\n Do you want to search a value for a key? (enter "n" for exit) ') != 'n':
        search_key = input('\n Enter a search key:')
        print('The value is:', search_value(kvs, search_key)) '''

## Main Function

In [100]:
root_dir = os.getcwd()
data_dir = os.path.join(root_dir,'data')
data_dir.split('\\')[-1]

'data'

In [101]:

if __name__ == '__main__':
    
    #filename
    root_dir = os.getcwd()
    data_dir = os.path.join(root_dir,'data')
    print(data_dir)
    save_dir =  os.path.join(root_dir,'Images')
    # convert_pdf_Img(data_dir,save_dir,res=400)
    
    textract_job(root_dir)

C:\Users\lenovo\PycharmProjects\aws-textract1\data
1
MAKE CHOICE FOR THE INPUT:
=============================
KV == KEY_VALUE PAIR
TABLE == TABLE OUTPUT
enter the input : TABLE
Invoice_2_0.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_0.png
Table_1\Invoice_2_0.png
Table_2\Invoice_2_0.png
Table_3\Invoice_2_0.png
Invoice_2_1.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_1.png
Table_1\Invoice_2_1.png
Table_2\Invoice_2_1.png
Table_3\Invoice_2_1.png
Invoice_2_10.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_10.png
Table_1\Invoice_2_10.png
Table_2\Invoice_2_10.png
Table_3\Invoice_2_10.png
Invoice_2_11.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_11.png
Table_1\Invoice_2_11.png
Table_2\Invoice_2_11.png
Table_3\Invoice_2_11.png
Invoice_2_12.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_12.png
Table_1\Invoice_2_12.png
Table_2\Invoice_2_12.png
Table_3\Invoice_2_12.png
Table_4\Invoice_2_12.png
Invoice_2_13.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_13.png
Table_1\Invoice_2_13.png
Invoice_2_14.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_14.png
Invoice_2_2.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_2.png
Table_1\Invoice_2_2.png
Table_2\Invoice_2_2.png
Table_3\Invoice_2_2.png
Table_4\Invoice_2_2.png
Invoice_2_3.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_3.png
Table_1\Invoice_2_3.png
Invoice_2_4.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_4.png
Table_1\Invoice_2_4.png
Invoice_2_5.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_5.png
Invoice_2_6.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_6.png
Table_1\Invoice_2_6.png
Table_2\Invoice_2_6.png
Table_3\Invoice_2_6.png
Invoice_2_7.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_7.png
Table_1\Invoice_2_7.png
Table_2\Invoice_2_7.png
Invoice_2_8.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_8.png
Table_1\Invoice_2_8.png
Table_2\Invoice_2_8.png
Table_3\Invoice_2_8.png
Invoice_2_9.png
Image loaded C:\Users\lenovo\PycharmProjects\aws-textract1\Test_Inv\Invoice_2\Invoice_2_9.png
Table_1\Invoice_2_9.png
Table_2\Invoice_2_9.png

In [2]:
import pandas as pd

## converting csv into excel

In [3]:
# csv_to_excel.py

import csv
import openpyxl


def csv_to_excel(csv_file, excel_file):
    csv_data = []
    with open(csv_file) as file_obj:
        reader = csv.reader(file_obj)
        for row in reader:
            csv_data.append(row)

    workbook = openpyxl.Workbook()
    sheet = workbook.active
    for row in csv_data:
        sheet.append(row)
    workbook.save(excel_file)


if __name__ == "__main__":
    csv_to_excel("output.csv", "books.xlsx")

In [1]:
df = pd.read_excel('books.xlsx')

NameError: name 'pd' is not defined

In [105]:
df.head(15)

,Table: Table_1\Invoice_2_0.png,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(i) * Corporate Identification Number (CIN) of...,U01211TN1997PTC038419,Pre-fill,NaN,NaN,NaN,NaN,NaN,NaN
2,Global Location Number (GLN) of the company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Permanent Account Number (PAN) of the company,AAACC4209Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(ii) (a) Name of the company,CPF (INDIA) PRIVATELIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Table: Table_2\Invoice_2_0.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,(v) Whether company is having share capital,X Yes,NaN,No,NaN,NaN,NaN,NaN,NaN
13,(vi) *Whether shares listed on recognized Stoc...,Yes,X,No,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Preprocessing the table data

In [106]:
# removing only those rows which are having all NAN values 
df = df.dropna(how='all')
df.head(20)

,Table: Table_1\Invoice_2_0.png,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
1,(i) * Corporate Identification Number (CIN) of...,U01211TN1997PTC038419,Pre-fill,NaN,NaN,NaN,NaN,NaN,NaN
2,Global Location Number (GLN) of the company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Permanent Account Number (PAN) of the company,AAACC4209Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(ii) (a) Name of the company,CPF (INDIA) PRIVATELIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Table: Table_2\Invoice_2_0.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,(v) Whether company is having share capital,X Yes,NaN,No,NaN,NaN,NaN,NaN,NaN
13,(vi) *Whether shares listed on recognized Stoc...,Yes,X,No,NaN,NaN,NaN,NaN,NaN
19,Table: Table_3\Invoice_2_0.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Type of the Company,Category of the Company,Sub-category of the Company,NaN,NaN,NaN,NaN,NaN,NaN
22,Private Company,Company limited by shares,Indian Non-Government company,NaN,NaN,NaN,NaN,NaN,NaN
28,Table: Table_1\Invoice_2_1.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Particulars,Authorised capital,Issued capital,Subscribed capital,Paid up capital,NaN,NaN,NaN,NaN
31,Total number of equity shares,360850000,279250000,279250000,279250000,NaN,NaN,NaN,NaN
32,Total amount of equity shares (in Rupees),3608500000,2792500000,2792500000,2792500000,NaN,NaN,NaN,NaN
38,Table: Table_2\Invoice_2_1.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,S.No,Main Activity group code,Description of Main Activity group,Business Activity Code,Description of Business Activity,% of turnover of the company,NaN,NaN,NaN
41,1,A,Agriculture,forestry,fishing,A1,Production of crops and animals,48.7,NaN
42,2,C,Manufacturing,C1,Food,beverages and tobacco products,44.22,NaN,NaN
48,Table: Table_3\Invoice_2_1.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,S.No,Name of the company,CIN / FCRN,Holding/ Subsidiary/Associate/ Joint Venture,% of shares held,NaN,NaN,NaN,NaN

In [107]:
df.shape

(225, 9)

In [108]:
# reordering  the index values 
df.reset_index(drop=True, inplace=True)
df.head(10)

,Table: Table_1\Invoice_2_0.png,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,(i) * Corporate Identification Number (CIN) of...,U01211TN1997PTC038419,Pre-fill,NaN,NaN,NaN,NaN,NaN,NaN
1,Global Location Number (GLN) of the company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Permanent Account Number (PAN) of the company,AAACC4209Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(ii) (a) Name of the company,CPF (INDIA) PRIVATELIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table: Table_2\Invoice_2_0.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,(v) Whether company is having share capital,X Yes,NaN,No,NaN,NaN,NaN,NaN,NaN
6,(vi) *Whether shares listed on recognized Stoc...,Yes,X,No,NaN,NaN,NaN,NaN,NaN
7,Table: Table_3\Invoice_2_0.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Type of the Company,Category of the Company,Sub-category of the Company,NaN,NaN,NaN,NaN,NaN,NaN
9,Private Company,Company limited by shares,Indian Non-Government company,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
# splitting the data frame based on a keyword 'TABLE:'
# grouped the data based on the keyword "Table: Table_1" using groupby function from pandas
df_group = df.groupby('Table: Table_1')
df_serial = df_group.get_group('Table: Table_1')

KeyError: 'Table: Table_1'

In [26]:
df_serial

,Table: Table_1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
10,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Table: Table_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
list_index = list(df_serial.index)
print(list_index)

[10, 21, 43, 69, 84, 111, 134, 157, 183, 205]

In [30]:
a = 0
b = list_index[0]
for i in list_index:
    b=i
    
    print(df[a:b-1])
    a=b-1

                                      Table: Table_1  \
0  (i) * Corporate Identification Number (CIN) of...
1       Global Location Number (GLN) of the company
2     Permanent Account Number (PAN) of the company
3                      (ii) (a) Name of the company
4                                     Table: Table_2
5       (v) Whether company is having share capital
6  (vi) *Whether shares listed on recognized Stoc...
7                                     Table: Table_3
8                               Type of the Company

                    Unnamed: 1                    Unnamed: 2 Unnamed: 3  \
0       U01211TN1997PTC038419                      Pre-fill         NaN
1                          NaN                           NaN        NaN
2                  AAACC4209Q                            NaN        NaN
3  CPF (INDIA) PRIVATELIMITED                            NaN        NaN
4                          NaN                           NaN        NaN
5                       X Yes                            NaN        No
6                         Yes                             X         No
7                          NaN                           NaN        NaN
8     Category of the Company   Sub-category of the Company         NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8
0        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN
5        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN        NaN
8        NaN        NaN        NaN        NaN        NaN
                                Table: Table_1                  Unnamed: 1  \
9                             Private Company   Company limited by shares
10                              Table: Table_1                         NaN
11                                Particulars          Authorised capital
12              Total number of equity shares                   360850000
13  Total amount of equity shares (in Rupees)                  3608500000
14                              Table: Table_2                         NaN
15                                       S.No    Main Activity group code
16                                          1                           A
17                                          2                           C
18                              Table: Table_3                         NaN
19                                       S.No         Name of the company

                             Unnamed: 2  \
9        Indian Non-Government company
10                                  NaN
11                      Issued capital
12                           279250000
13                          2792500000
14                                  NaN
15  Description of Main Activity group
16                          Agriculture
17                       Manufacturing
18                                  NaN
19                          CIN / FCRN

                                       Unnamed: 3  \
9                                             NaN
10                                            NaN
11                            Subscribed capital
12                                     279250000
13                                    2792500000
14                                            NaN
15                        Business Activity Code
16                                       forestry
17                                            C1
18                                            NaN
19  Holding/ Subsidiary/Associate/ Joint Venture

                           Unnamed: 4                        Unnamed: 5  \
9                                 NaN                               NaN
10                                NaN                               NaN
11                   Paid up capital                                NaN
12                         279250000                                NaN
13                        2792500000                                NaN
14                                NaN                               NaN
15  Description of Business Activity      % of turnover of the company
16                           fishing                                A1
17                               Food   beverages and tobacco products
18                                NaN                               NaN
19                  % of shares held                                NaN

                          Unnamed: 6 Unnamed: 7 Unnamed: 8
9                                NaN        NaN        NaN
10                               NaN        NaN        NaN
11                               NaN        NaN        NaN
12                               NaN        NaN        NaN
13                               NaN        NaN        NaN
14                               NaN        NaN        NaN
15                               NaN        NaN        NaN
16  Production of crops and animals       48.7         NaN
17                            44.22         NaN        NaN
18                               NaN        NaN        NaN
19                               NaN        NaN        NaN
           Table: Table_1               Unnamed: 1  \
20                     1   CPF Investment Limited
21         Table: Table_1                      NaN
22                  Name                  DIN/PAN
23     KWANCHAI CHAIPREN                 00335543
24      WICHIT KONGKHEAW                 07384168
25         ANEK BOONNOON                 07384239
26      PRASERT POONGKUN                 03152058
27      MONTRI SUWANPOSF                 02955771
28       SANGEETHA SEKAR               BWZPS2975N
29         Table: Table_2                      NaN
30                S. No.          Date of meeting
31                    NaN                      NaN
32                     1               29/04/2015
33                     2               22/05/2015
34                     3               05/06/2015
35                     4               14/07/2015
36                     5               15/07/2015
37         Table: Table_3                      NaN
38       Type of meeting          Date of meeting
39                    NaN                      NaN
40  ANNUAL GENERAL MEETI               25/09/2015
41   EXTRAORDINARY GENER               10/08/2015

                                           Unnamed: 2  \
20                                                NaN
21                                                NaN
22  Designation at the beginning / during the fina...
23                               Additional director
24                               Additional director
25                               Additional director
26                                          Director
27                                          Director
28                                  Company Secretar
29                                                NaN
30  Total Number of directors associated as on the...
31                                           meeting
32                                                 5
33                                                 5
34                                                 5
35                                                 5
36                                                 5
37                                                NaN
38        Total Number of Members entitled to attend
39                                           meeting
40                                                 2
41                                                 2

                                           Unnamed: 3  \
20                                           Holding
21                                                NaN
22  Date of appointment/ change in designation/ ce...
23                                        30/12/2015
24                                        30/12/2015
25                                        30/12/2015
26                                        30/12/2015
27                                        30/12/2015
28                                        13/10/2015
29                                                NaN
30                                                NaN
31                      Number of directors attended
32                                                 2
33                                                 3
34                                                 2
35                                                 2
36                                                 2
37                                                NaN
38                                        Attendance
39                        Number of members attended
40                                                 2
41                                                 2

                                           Unnamed: 4 Unnamed: 5 Unnamed: 6  \
20                                             99.99         NaN        NaN
21                                                NaN        NaN        NaN
22  Nature of change (Appointment/ Change in desig...        NaN        NaN
23                                       Appointment         NaN        NaN
24                                       Appointment         NaN        NaN
25                                       Appointment         NaN        NaN
26                                         Cessation         NaN        NaN
27                                         Cessation         NaN        NaN
28                                         Cessation         NaN        NaN
29                                                NaN        NaN        NaN
30                                        Attendance         NaN        NaN
31                                   % of attendance         NaN        NaN
32                                                40         NaN        NaN
33                                                60         NaN        NaN
34                                                40         NaN        NaN
35                                                40         NaN        NaN
36                                                40         NaN        NaN
37                                                NaN        NaN        NaN
38                                                NaN        NaN        NaN
39                           % of total shareholding         NaN        NaN
40                                               100         NaN        NaN
41                                               100         NaN        NaN

   Unnamed: 7 Unnamed: 8
20        NaN        NaN
21        NaN        NaN
22        NaN        NaN
23        NaN        NaN
24        NaN        NaN
25        NaN        NaN
26        NaN        NaN
27        NaN        NaN
28        NaN        NaN
29        NaN        NaN
30        NaN        NaN
31        NaN        NaN
32        NaN        NaN
33        NaN        NaN
34        NaN        NaN
35        NaN        NaN
36        NaN        NaN
37        NaN        NaN
38        NaN        NaN
39        NaN        NaN
40        NaN        NaN
41        NaN        NaN
          Table: Table_1             Unnamed: 1  \
42  EXTRAORDINARY GENER             07/03/2016
43        Table: Table_1                    NaN
44                   NaN                    NaN
45               S. No.   Name of the director
46                   NaN                    NaN
47                   NaN                    NaN
48                    1            VITOON KITT
49                    2             PREEDA CHL
50                    3            ADIREK SRIP
51                    4             KWANCHAI C
52                    5            WICHIT KON(
53                    6             ANEK BOONN
54        Table: Table_2                    NaN
55               S. No.        Date of meeting
56                   NaN                    NaN
57                    6             10/08/2015
58                    7             02/09/2015
59                    8             25/09/2015
60                    9             26/09/2015
61                   10             30/12/2015
62                   11             23/01/2016
63                   12             11/03/2016
64        Table: Table_3                    NaN
65               S. No.        Type of meeting
66                   NaN                    NaN
67                    1            CSR Committ

                                           Unnamed: 2  \
42                                                 2
43                                                NaN
44                                                NaN
45             Number of Meetings which director was
46                                entitled to attend
47                                                NaN
48                                                18
49                                                18
50                                                18
51                                                 4
52                                                 4
53                                                 4
54                                                NaN
55  Total Number of directors associated as on the...
56                                           meeting
57                                                 5
58                                                 5
59                                                 5
60                                                 5
61                                                 5
62                                                 6
63                                                 6
64                                                NaN
65                                   Date of meeting
66                                                NaN
67                                        22/05/2015

                       Unnamed: 3                   Unnamed: 4  \
42                             2                          100
43                            NaN                          NaN
44                Board Meetings                           NaN
45            Number of Meetings              % of attendance
46                      attended                           NaN
47                            NaN                          NaN
48                            18                          100
49                            17                  94.44444444
50                             4                  22.22222222
51                             0                            0
52                             2                           50
53                             0                            0
54                            NaN                          NaN
55                            NaN                  Attendance
56  Number of directors attended              % of attendance
57                             2                           40
58                             2                           40
59                             2                           40
60                             5                          100
61                             3                           60
62                             3                           50
63                             3                           50
64                            NaN                          NaN
65    Total Number of Members as                           NaN
66    on the date of the meeting   Number of members attended
67                             3                            3

                                Unnamed: 5           Unnamed: 6  \
42                                     NaN                  NaN
43                                     NaN                  NaN
44                                     NaN  Committee Meetings
45  Number of Meetings which director was   Number of Meetings
46                     entitled to attend             attended
47                                     NaN                  NaN
48                                      2                    2
49                                      2                    2
50                                      2                    2
51                                      0                    0
52                                      0                    0
53                                      0                    0
54                                     NaN                  NaN
55                                     NaN                  NaN
56                                     NaN                  NaN
57                                     NaN                  NaN
58                                     NaN                  NaN
59                                     NaN                  NaN
60                                     NaN                  NaN
61                                     NaN                  NaN
62                                     NaN                  NaN
63                                     NaN                  NaN
64                                     NaN                  NaN
65                             Attendance                   NaN
66                        % of attendance                   NaN
67                                    100                   NaN

          Unnamed: 7             Unnamed: 8
42               NaN                    NaN
43               NaN                    NaN
44               NaN  Whether attended AGM
45  % of attendance                held on
46               NaN               9/30/16
47               NaN              (Y/N/NA)
48              100                     No
49              100                     No
50              100                    Yes
51                0                     No
52                0                    Yes
53                0                     No
54               NaN                    NaN
55               NaN                    NaN
56               NaN                    NaN
57               NaN                    NaN
58               NaN                    NaN
59               NaN                    NaN
60               NaN                    NaN
61               NaN                    NaN
62               NaN                    NaN
63               NaN                    NaN
64               NaN                    NaN
65               NaN                    NaN
66               NaN                    NaN
67               NaN                    NaN
                               Table: Table_1  \
68                                         2
69                             Table: Table_1
70  Name of the company/ directors/ officers
71                             Table: Table_2
72                                    S. No.
73                                         1
74                                         2
75                                        NaN
76                             Table: Table_3
77                                    S. No.
78                                         1
79                                        NaN
80                             Table: Table_4
81                                    S. No.
82                                         1

                                 Unnamed: 1      Unnamed: 2  \
68                             CSR Committ      30/12/2015
69                                      NaN             NaN
70  Name of the court/ concerned Authority   Date of Order
71                                      NaN             NaN
72                                    Name     Designation
73                         VITOON KITTIMON        DIRECTOR
74                           PREEDA CHUNWC        DIRECTOR
75                                   Total              NaN
76                                      NaN             NaN